*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --Red: hsl(0, 100%, 68%);
    --Very-Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish-Blue: hsl(230, 11%, 40%);
    --Grayish-Blue: hsl(231, 7%, 65%);
    --Light-Grayish-Blue: hsl(207, 33%, 95%);
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: grid;  
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    position: relative;
}

/* utility class */
.hidden {
    display: none;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: var(--Light-Grayish-Blue);
    width: 50vw;
    height: 50vh;
    border-bottom-left-radius: 75px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    top: 100%;
    left: 2rem;
    width: calc(100% - 4rem);
    background-color: white;
    z-index: 5;
    border-radius: 8px;
    box-shadow: 2px 2px 25px hsla(0, 0%, 0%, 0.185);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

li > a{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--Very-Dark-Blue);
}

ul > li:hover, 
ul > li:focus-visible {
    text-decoration: underline;
}

.seperator {
    width: 100%;
    height: 1px;
    background-color: var(--Grayish-Blue);
}

.login {
    color: var(--Grayish-Blue);
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.login:hover, 
.login:focus-visible {
    text-decoration: underline;
}

.nav-btn {
    border: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60%;
    margin-block: 1rem;
}

.mockup {
    background: url("./images/illustration-devices.svg") top left .5rem no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
    padding-top: 1rem;
}

.top-content, 
.bottom-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--Grayish-Blue);
}

.bottom-content {
    font-size: 1rem;
    letter-spacing: 2px;
}

.top-content > span {
    font-weight: 700;
    letter-spacing: normal;
    background-color: var(--Very-Dark-Blue);
    color: white;
    padding: .2rem .7rem;
    border-radius: 17px;
}

.title {
    color: var(--Very-Dark-Blue);
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: initial;
}

.info {
    color: var(--Dark-Grayish-Blue);
    max-width: 280px; 
}

.cta {
  background-color: var(--Red);
  border: none;
  color: white;
  flex-basis: 50%;
  max-width: 180px;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  padding: .8rem;
  border-radius: 8px;
}

.cta:hover,
.cta:focus-visible {
    cursor: pointer;
    opacity: .6;
}

footer {
    margin-top: auto;
    text-align: center;
}

@media (min-width: 575px) {
    main {
       grid-template-rows: 50%;
    }

    .background {
        height: 60vh;
    }
}

@media (min-width: 720px) {

    header {
        padding: 5rem;
    }

    .nav-btn {
        display: none;
    }

    nav {
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3rem;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    ul {
        flex-direction: row;
        gap: 3rem;
    }

    .seperator {
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .mockup {
        place-self: center;
        background-position: top left;
        width: 100%;
        height: 60vh;
    }

    .content {
        grid-column-start: 1;
        grid-row-start: 1;
        padding-left: 5rem;
        gap: 1.5rem;
    }

    .info {
        margin-bottom: 2.5rem;
    }

    .background {
        height: 50vh;
    }
}

@media (min-width: 1000px) {
    header {
        padding: 5rem 10rem;
    }

    .content {
        padding-left: 10rem;     
    }

    .title {
        font-size: 4rem;
    }

}